<!--
  YOUTUBESEARCHMANAGER.HTML
  Version: 1.25.1
  AppName: MultiChat_Chatty [v1.25.1]
  Updated: 9/14/2025 @5:55AM
  Created by Paul Welby
-->

<div class="youtube-result-bubble">
    <div class="youtube-results-header">
        <h3>YouTube Results for: "<span class="youtube-query-subject"></span>"</h3>
    </div>
    <div class="youtube-video-grid">
        <!-- Video items will be inserted here -->
    </div>
    <div class="youtube-pagination-bar">
        <!-- Pagination controls will be inserted here -->
    </div>
</div> 