<!--
  YOUTUBESEARCHMANAGER.HTML
  Version: 8
  AppName: MCC_1_CCM [v8]
  Updated: 7/20/2025 @8:30AM
  Created by Paul Welby
-->

<div class="youtube-result-bubble">
    <div class="youtube-results-header">
        <h3>YouTube Results for: "<span class="youtube-query-subject"></span>"</h3>
    </div>
    <div class="youtube-video-grid">
        <!-- Video items will be inserted here -->
    </div>
    <div class="youtube-pagination-bar">
        <!-- Pagination controls will be inserted here -->
    </div>
</div> 