<!--
  YOUTUBESEARCHMANAGER.HTML
  Version: 24
  AppName: mc_1_cm [v24]
  Updated: 9/8/2025 @9:30AM
  Created by Paul Welby
-->

<div class="youtube-result-bubble">
    <div class="youtube-results-header">
        <h3>YouTube Results for: "<span class="youtube-query-subject"></span>"</h3>
    </div>
    <div class="youtube-video-grid">
        <!-- Video items will be inserted here -->
    </div>
    <div class="youtube-pagination-bar">
        <!-- Pagination controls will be inserted here -->
    </div>
</div> 